<section class="kontakt-page">
  <div class="kontakt-content">
    <div class="kontakt-text">
      <p><strong>Name:</strong> Damian Fuchs</p>
      <p><strong>Telefon:</strong> 078 XXX XX XX</p>
      <p><strong>Email:</strong> damian...</p>
      <p><strong>Adresse:</strong> Irgendwo</p>

      <p>
        Bei Fragen zu meiner Webseite oder zum Thema
        Wirtschaftsinformatik kannst du mich gerne kontaktieren.
      </p>
    </div>

    <div class="kontakt-image">
      <img src="./kontakt.jpg" alt="Kontaktbild" />
    </div>
  </div>
</section>
